/***** BASE STYLES *****/
html {
    text-align: center;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
figure {
    width: 100%;
    margin: 0 auto;
}
img {
    width: 100%;
}
h1 {
    font-family: 'Lora', serif;
    color: #BBC085;
    font-size: 2rem;
}
h2 {
    font-family: 'Lora', serif;
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}
p {
    font-size: 1.3rem;
    line-height: 2.5rem;
}


/***** GRID *****/
.flex-container, #contact {
    width: 100%;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: column;
    -moz-box-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.container {
    width: 100%;
}
header {
    padding-top: 2rem;
}
section {
    padding: 1rem;
}
.half-width {
    width: 100%;
}
.third-width {
    width: 100%;
}

/***** HEADER *****/
.callout {
    padding: 1rem;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    color: #828282;
    padding: 0 0.5rem;
}
.callout h2 {
    color: #9b9b9b;
}
.callout h2 span {
    color: #2b2b2b;
}

/***** ABOUT *****/
#bio.flex-container {
    padding: 0;
}

#about p {
    color: #7f7f7f;
}

/***** WORK *****/

#work {
    background-color: #f9ceb7;
    text-align: center;
}
#work i {
    font-size: 3rem;
    padding: 1rem;
    color: #C49075;
}
#work h3 {
    margin: 0 auto;
    width: 70%;
}
#work p {
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    line-height: 2.2rem;
    color: #2b2b2b;
}

/***** CONTACT *****/
#contact {
    background-color: #ebebeb;
}
#email-header {
    font-size: 1.5rem;
    line-height: 2.75rem;
    font-weight: 400;
    color: #2b2b2b;
}
#socialmedia-header {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.75rem;
}
#contact a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 1.4rem;
}
#contact ul {
    list-style: none;
    padding: 0;
}
#contact ul li {
    display: inline-block;
    padding: 0.5rem;
}

/** TABLET (>768px and <940px) **/
@media all and (min-width: 768px) {
    html {
        text-align: left;
    }
    .flex-container, #contact {
        -webkit-box-direction: row;
        -moz-box-direction: row;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-item-align: center;
        -webkit-align-items: center; 
        align-items: center;
        -webkit-box-pack: space-between;
        -moz-box-pack: space-between;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 0 2rem;
    }
    section {
        padding: 2rem;
    }
    .half-width {
        width: 48%;
    }
    h1 {
        font-size: 2.3rem;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        color: #828282;
        padding-left: 80px;
    }
    #header-container {
        background: url("../img/full-background.png") no-repeat center;
        background-size: cover;
        height: 400px;
    }
    .header-bkgd {
        display: none;
    }
    .callout {
        width: 75%;
        padding: 2rem;
    }
    .callout h2 {
        font-size: 3rem;
    }
    .about-flex-container {
        -webkit-box-direction: column;
        -moz-box-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .work-flex-container {
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-item-align: start;
        -webkit-align-items: flex-start; 
        align-items: flex-start;
        -webkit-box-direction: row;
        -moz-box-direction: row;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    h3 {
        font-size: 1.3rem;
    }
    #work p {
        padding: 0 1.2rem;
    }
    #contact-img {
        border: 1rem solid #ffffff;
    }
}

/** DESKTOP (940px) **/
@media all and (min-width: 940px) {
    #about, #work, #contact {
        height: 600px;
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-item-align: center;
        -webkit-align-items: center; 
        align-items: center;
    }
    #header-container {
        background: url("../img/full-background.png") no-repeat center;
        background-size: cover;
        height: 600px;
    }
    .callout {
        width: 70%;
    }
    .third-width {
        width: 33%;
        padding: 1rem;
    }
}