/***** BASE STYLES *****/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    padding-top: 2rem;
}
section {
    padding: 2rem 1rem;
}
.heading-text {
    font-family: 'Lora', serif;
    font-size: 2rem;
    width: 100%;
}
p {
    font-size: 1.3rem;
    line-height: 2.5rem;
}
figure {
    width: 100%;
    margin: 0 auto;
}
img {
    width: 100%;
}
/***** HEADER *****/
#header-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-title {
    font-family: 'Lora', serif;
    color: #BBC085;
    font-size: 2rem;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    color: #828282;
    padding: 0 0.5rem;
}
#header-img {
    width: 100%;
}
#intro-text {
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: #9b9b9b;
    padding: 1rem;
}
#intro-text span {
    color: #2b2b2b;
}
/***** ABOUT *****/
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-text {
    display: flex;
    flex-direction: column;
}
.about-col {
    padding: 0;
    color: #7f7f7f;
    width: 100%;
}
/***** WORK *****/
#work {
    background-color: #f9ceb7;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.work-item {
    color: #2b2b2b;
    padding: 1rem;
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    line-height: 2.2rem;
}
.work-icon {
    font-size: 3rem;
    padding: 1rem;
    color: #C49075;
}
.work-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
/***** CONTACT *****/
#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
}
#contact-info {
    padding: 1rem;
}
#email-heading {
    font-size: 1.5rem;
    line-height: 2.75rem;
    font-weight: 400;
    color: #2b2b2b;
}
#social-heading {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.75rem;
}
#contact a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 1.4rem;
}
#contact ul {
    list-style: none;
    padding: 0;
}
#contact ul li {
    display: inline-block;
    padding: 0.5rem;
}
/****** TABLET ******/
@media screen and (min-width: 768px) {
    section {
        padding: 2rem;
    }
    #header-nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
    }
    .site-title {
        font-size: 2.3rem;
    }
    nav ul li a {
        font-size: 1.125rem;
        padding-left: 5rem;
    }
    #header-img {
        background: url("../img/full-background.png") no-repeat center;
        background-size: cover;
        height: 400px;
    }
    #hero-img {
        display: none;
    }
    #intro-text {
        width: 75%;
        padding: 2rem;
    }
    #about-text {
        flex-direction: row;
        justify-content: space-between;
    }
    .about-col {
        width: 48%;
    }
    #work {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .work-heading {
        font-size: 1.3rem;
        width: 70%;
        margin: auto;
    }
    .work-item {
        width: 45%;
    }
    #contact {
        flex-direction: row;
        align-items: center;
        padding: 2rem;
        justify-content: space-evenly;
    }
    #contact-img {
        flex-basis: 55%;
        border: 1rem solid #ffffff;
        margin: 0;
    }
    #contact-info {
        flex-basis: 45%;
    }
    #email-heading {
        font-size: 1.4rem;
        line-height: 2.75rem;
    }
    #social-heading {
        font-size: 1.2rem;
        line-height: 2.75rem;
    }
    #contact a {
        font-size: 1.2rem;
    }
}
/****** LARGE TABLET / SMALL DESKTOP  ******/
@media screen and (min-width: 940px) {
    section,
    #header-img,
    #contact {
        height: 600px;
    }
    #intro-text {
        font-size: 3rem;
    }
    #work {
        flex-flow: row nowrap;
    }
    .work-item {
        width: 30%;
    }
    #contact-img {
        flex-basis: 45%;
        border: 1rem solid #ffffff;
        margin: 0;
    }
    #contact-info {
        flex-basis: 35%;
    }
}
/****** DESKTOP ******/
@media screen and (min-width: 1200px) {
    #intro-text {
        width: 70%;
    }
    .work-item {
        width: 28%;
    }
    #email-heading {
        font-size: 1.5rem;
        line-height: 2.75rem;
    }
    #social-heading {
        font-size: 1.4rem;
        line-height: 2.75rem;
    }
    #contact a {
        font-size: 1.4rem;
    }
}