/***** BASE STYLES *****/
html {
    text-align: center;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
figure {
    width: 100%;
    margin: 0 auto;
}
img {
    width: 100%;
}

/***** GRID *****/
.flex-container {
    width: 100%;
    display: flex;
}
.half-width {
    width: 100%;
    float: left;
}
.third-width {
    width: 100%;
    float: left;
}

/***** HEADER *****/

header h1 {
    font-family: 'Lora', serif;
    color: #BBC085;
    font-size: 2rem;
}
nav {
    margin: 0 auto;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    color: #828282;
    padding: 0 0.5rem;
}
.header-bkgd {
    width: 100%;
}
header h2 {
    clear: both;
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: #9b9b9b;
}
header h2 span {
    color: #2b2b2b;
}

/***** ABOUT *****/

#about .full-width {
    padding: 80px 0;
}
#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}

#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    padding-right: 50px;
}

/***** WORK *****/

#work {
    background-color: #f9ceb7;
    text-align: center;
}
#work .full-width {
    padding: 115px 0;
}
#work img {
    padding-bottom: 30px;
}
#work h3 {
    font-size: 24px;
    margin: 0 auto;
    line-height: 32px;
    width: 190px;
}
#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30pt;
    color: #2b2b2b;
    padding: 0 35px;
}

/***** CONTACT *****/

#contact {
    background-color: #ebebeb;
}
#contact .full-width {
    padding: 110px 0;
}
#contact-img {
    border: 12px solid #ffffff;
}
#contact h2, #email-header, #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
}
#email-header {
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    margin: -30px 0 5px 0;
    color: #2b2b2b;
}
#socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
    display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}

/** TABLET (>768px and <940px) **/
@media all and (min-width: 768px) {
    html {
        text-align: left;
    }
    nav {
        float: right;
        padding: 75px 40px;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        color: #828282;
        padding-left: 80px;
    }
}

/** DESKTOP (940px) **/
@media all and (min-width: 940px) {
    #about, #work, #contact {
        height: 600px;
    }

}